<div #appMessages id="app-messages" class="app-messages">
  <div class="panel-avatar">
    <img src="../../../../assets/images/components/psychology/chat/bot-1.png" width="140px" class="avatar-bot">
    <p class="text-bot">
      ChatBot - TEMI
      <app-skeleton *ngIf="progressBarAnswer" [type]="'point'"></app-skeleton>
    </p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="p-fluid app-panel">
    <app-registration *ngIf="!activatedTest"
                      (activatedTestOut)="activatedTest=$event"
                      (progressBarAnswerOut)="progressBarAnswer=$event"
    ></app-registration>
    <app-question *ngIf="activatedTest"
                  (progressBarAnswerOut)="progressBarAnswer=$event"
    ></app-question>
  </div>
</div>
