@media(min-width: 800px) {
  .app-panel {
    margin-right: 15%;
    margin-left: 15%;
  }
}

.app-messages {
  //padding: 2px 10px 12px;
  overflow: auto;
  height: 850px;
}

.app-panel {
  background: #fff;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px 15px 15px 15px;
}
.panel-avatar {
  background: #d2e4ca;
  height: 100px;
  width: 100%;
  //border-radius: 15px 15px 15px 15px;
  position: fixed;
}

.text-bot {
  color: #1D70B6;
  font-size: 20px;
}

.panel-avatar img {
  float: left;
}

.avatar-bot {
  //border-radius: 20px;
  padding: 10px;
}

.panel-question {
  //background: #F7B032;
  background: #fbdfad;
  border-radius: 15px 15px 15px 15px;
}

.panel-answer {
  background: #1D70B6;
  color: #fff;
  padding-right: 20px;
  border-radius: 15px 15px 15px 15px;
}
