@media(min-width: 800px) {
  .app-panel {
    margin-right: 15%;
    margin-left: 15%;
  }
}

@media(min-width: 800px) {
  .app-panel {
    margin-right: 15%;
    margin-left: 15%;
  }
}
.en-linea{
  font-size: 14px;
}

.logos{
  align-content: center;
}

.app-messages {
  //padding: 2px 10px 12px;
  overflow: auto;
  height: 850px;
  background-image: url("../../../../assets/images/components/psychology/chat/fondo-whatsapp.jpg");
}

.app-panel {
  //background: #ECE5DD;
  //background-image: url("../../../../assets/images/components/psychology/chat/fondo-whatsapp.jpg");
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px 15px 15px 15px;
}

.panel-avatar {
  background: #607126;
  height: 90px;
  width: 100%;
  //border-radius: 15px 15px 15px 15px;
  position: fixed;
}

.text-bot {
  color: white;
  font-size: 20px;
}

.panel-avatar img {
  float: left;
}

.avatar-bot {
  border-radius: 100px;
  //background-color: #fff;
  //border: 1px solid;
  padding: 10px;
}

.panel-question {
  //background: #F7B032;
  background: white;
  border-radius: 15px 15px 15px 15px;
}

.panel-answer {
  background: #9BA467;
  color: #000;
  padding-right: 20px;
  border-radius: 15px 15px 15px 15px;
}

.button-send{
  background: #607126 !important;
}

//.panel-answer p{
//  position: relative;
//  right: 0;
//  text-align: right;
//  max-width: 65%;
//  padding: 12px;
//  background: #9BA467;
//  border-radius: 0.9em;
//}
//
//.panel-answer p::before{
//  content: '';
//  position: absolute;
//  top: 0;
//  right: -12px;
//  width: 20px;
//  height: 20px;
//  background: red;
//}
