<p-toast position="top-center"></p-toast>

<div class="p-fluid">
  <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
    <!--identificationType & username-->
    <div class="formgrid grid">
      <!--identificationType-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="identificationType" appLabel label="Tipo de documento:"
               [required]="isRequired(identificationTypeField)"
               [valid]="identificationTypeField.valid"
               [touched]="identificationTypeField.touched"
               [dirty]="identificationTypeField.dirty">
        </label>
        <p-dropdown id="identificationType"
                    formControlName="identificationType"
                    [options]="identificationTypes"
                    [filter]="true"
                    filterBy="name"
                    placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="identificationTypeField.value">
              <div>{{identificationTypeField.value?.name}}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div>
              <div>{{item.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <small appErrorMessage
               [errors]="identificationTypeField.errors"
               [touched]="identificationTypeField.touched"
               [dirty]="identificationTypeField.dirty">
        </small>
      </div>
      <!--username-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="username" appLabel label="Número de documento:"
               [required]="isRequired(usernameField)"
               [valid]="usernameField.valid"
               [touched]="usernameField.touched"
               [dirty]="usernameField.dirty">
        </label>
        <input pInputText id="username" formControlName="username">
        <small appErrorMessage
               [errors]="usernameField.errors"
               [touched]="usernameField.touched"
               [dirty]="usernameField.dirty">
        </small>
      </div>
    </div>

    <!--name & lastname-->
    <div class="formgrid grid">
      <!--name-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="name" appLabel label="Nombres:"
               [required]="isRequired(nameField)"
               [valid]="nameField.valid"
               [touched]="nameField.touched"
               [dirty]="nameField.dirty">
        </label>
        <input pInputText id="name" formControlName="name" class="uppercase">
        <small appErrorMessage
               [errors]="nameField.errors"
               [touched]="nameField.touched"
               [dirty]="nameField.dirty">
        </small>
      </div>
      <!--lastname-->
      <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
        <label for="lastname" appLabel label="Apellidos:"
               [required]="isRequired(lastnameField)"
               [valid]="lastnameField.valid"
               [touched]="lastnameField.touched"
               [dirty]="lastnameField.dirty">
        </label>
        <input pInputText id="lastname" formControlName="lastname" class="uppercase">
        <small appErrorMessage
               [errors]="lastnameField.errors"
               [touched]="lastnameField.touched"
               [dirty]="lastnameField.dirty">
        </small>
      </div>
    </div>

    <!--email-->
    <div class="field">
      <label for="email" appLabel label="Correo electrónico:"
             [required]="isRequired(emailField)"
             [valid]="emailField.valid"
             [touched]="emailField.touched"
             [dirty]="emailField.dirty">
      </label>
      <input pInputText id="email" formControlName="email" class="lowercase">
      <small appErrorMessage
             [errors]="emailField.errors"
             [touched]="emailField.touched"
             [dirty]="emailField.dirty">
      </small>
    </div>

    <!--role-->
    <div class="field">
      <label for="role" appLabel label="Rol:"
             [required]="isRequired(roleField)"
             [valid]="roleField.valid"
             [touched]="roleField.touched"
             [dirty]="roleField.dirty">
      </label>
      <p-dropdown id="role"
                  formControlName="role"
                  dataKey="id"
                  [options]="roles"
                  placeholder="Seleccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="roleField.value">
            <div>{{roleField.value?.name|role}}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div>
            <div>{{item.name|role}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <small appErrorMessage
             [errors]="roleField.errors"
             [touched]="roleField.touched"
             [dirty]="roleField.dirty">
      </small>
    </div>
    <p-divider></p-divider>

    <!--onSubmit()-->
    <div class="field">
      <button pButton pRipple label="Guardar" class="p-button-rounded"
              icon="pi pi-save" [loading]="progressBar"></button>
    </div>

    <!--progressBar-->
    <div class="field" *ngIf="progressBar">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </div>
  </form>
</div>
