<p-dialog header="Asignar Institución" [(visible)]="dialogForm" [maximizable]="true" [modal]="true">
  <app-assignment *ngIf="dialogForm" [tests]="selectedTests"
                  (dialogForm)="dialogForm=$event;loadAllMethods(paginator.current_page);selectedTests=[]"></app-assignment>
</p-dialog>
<div class="container">
  <!--Dates && Provinces-->
  <p-card>
    <div class="grid">
      <div class="field xl:col-2 lg:col-2 md:col-12 sm:col-12  text-right">
        <p-calendar id="range"
                    [(ngModel)]="rangeDates"
                    selectionMode="range"
                    [readonlyInput]="true"
                    [showIcon]="true"
                    inputId="range"
                    dateFormat="yy-mm-dd"
                    (onSelect)="loadAllMethods()"></p-calendar>
      </div>
      <div class="field xl:col-10 lg:col-10 md:col-12 sm:col-12">
        <p-multiSelect [options]="provinces"
                       [(ngModel)]="selectedProvinces"
                       display="chip"
                       optionLabel="name"
                       placeholder="Todas las provincias"
                       (onChange)="loadAllMethods()"></p-multiSelect>
      </div>
    </div>
  </p-card>
  <br>
  <!---->
  <div class="grid">
    <div class="panel-toolbar-left field xl:col-4 lg:col-4 md:col-12 sm:col-12 text-center">
      <h2>Detalles de la Jornada</h2>
      <p>
        Del
        <b>{{rangeDates[0]|date:'longDate'}}</b>
        al
        <b>{{rangeDates[1]|date:'longDate'}}</b>
      </p>
      <p-tag *ngFor="let province of selectedProvinces" [value]="province.name" class="mr-2"></p-tag>
      <div class="grid">
        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
          <p>
            Tamizajes Totales:
          </p>
          <button pButton type="button" [label]="countAllTests!"
                  class="p-button-rounded"
                  [loading]="(loaded$|async)!"></button>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
          <p>Sin Problemas:</p>
          <button pButton type="button" icon="pi pi-check" [label]="(countPriorities[3]?.testsCount!)?.toString()!"
                  class="p-button-rounded p-button-success"
                  [loading]="(loaded$|async)!"></button>
        </div>
      </div>
    </div>
    <div class="panel-toolbar-center field xl:col-4 lg:col-4 md:col-12 sm:col-12 text-center">
      <h2>Acciones requeridas:</h2>
      <p>
        Del
        <b>{{rangeDates[0]|date:'longDate'}}</b>
        al
        <b>{{rangeDates[1]|date:'longDate'}}</b>
      </p>
      <p-tag *ngFor="let province of selectedProvinces" [value]="province.name" class="mr-2"></p-tag>
      <div class="grid">
        <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
          <p>Alta Intensidad:</p>
          <button pButton type="button" icon="pi pi-arrow-up" [label]="(countPriorities[0]?.testsCount!)?.toString()!"
                  class="p-button-rounded p-button-danger"
                  [loading]="(loaded$|async)!"></button>
        </div>
        <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
          <p>Media Intensidad:</p>
          <button pButton type="button" icon="pi pi-arrows-h" [label]="(countPriorities[1]?.testsCount!)?.toString()!"
                  class="p-button-rounded p-button-warning"
                  [loading]="(loaded$|async)!"></button>
        </div>
        <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
          <p>Baja Intensidad:</p>
          <button pButton type="button" icon="pi pi-arrow-down" [label]="(countPriorities[2]?.testsCount!)?.toString()!"
                  class="p-button-rounded p-button-info"
                  [loading]="(loaded$|async)!"></button>
        </div>
      </div>
    </div>
    <div class="panel-toolbar-right field xl:col-4 lg:col-4 md:col-12 sm:col-12 text-center">
      <div class="grid">
        <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
          <h2>Acciones requeridas totales</h2>
          <p>
            Registros al
            <b>{{currentDate|date:'longDate'}}</b>
          </p>
          <p-tag *ngFor="let province of selectedProvinces" [value]="province.name" class="mr-2"></p-tag>
          <div class="grid">
            <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12 text-center">
              <p>Alta Intensidad:</p>
              <button pButton type="button" icon="pi pi-arrow-up"
                      [label]="(countAllPriorities[0]?.testsCount!)?.toString()!"
                      class="p-button-rounded p-button-danger"
                      [loading]="(loaded$|async)!"></button>
            </div>
            <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12 text-center">
              <p>Media Intensidad:</p>
              <button pButton type="button" icon="pi pi-arrows-h"
                      [label]="(countAllPriorities[1]?.testsCount!)?.toString()!"
                      class="p-button-rounded p-button-warning"
                      [loading]="(loaded$|async)!"></button>
            </div>
            <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12 text-center">
              <p>Baja Intensidad:</p>
              <button pButton type="button" icon="pi pi-arrow-down"
                      [label]="(countAllPriorities[2]?.testsCount!)?.toString()!"
                      class="p-button-rounded p-button-info"
                      [loading]="(loaded$|async)!"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--ToolBar-->
  <p-card>
    <div class="grid">
      <div class="xl:col-6">
        <button pButton pRipple type="button" label="Refrescar Página"
                class="p-button-info mr-2" icon="pi pi-sync"
                (click)="loadAllMethods()"
                [loading]="(loaded$|async)!"></button>
        <button pButton pRipple type="button" label="Eliminar Tests"
                class="p-button-danger mr-2" icon="pi pi-trash"
                (click)="deleteTests()"
                [disabled]="!selectedTests?.length"></button>
        <button pButton pRipple type="button" label="Asignar Tests"
                class="mr-2"
                icon="pi pi-share-alt"
                (click)="assignmentForms()"
                [disabled]="!selectedTests?.length"></button>
        <button pButton pRipple type="button" label="Descargar Excel"
                class="p-button-success"
                icon="pi pi-download"
                (click)="downloadExcel()"
                [disabled]="!(rangeDates?.length===2)"
                [loading]="(loaded$|async)!"></button>
        <app-progress-bar *ngIf="progressBarDelete" [message]="messageService.progressBarDelete"
                          class="ml-2"></app-progress-bar>
      </div>
      <div class="xl:col-6">
        <p-multiSelect [options]="priorities"
                       [(ngModel)]="selectedPriorities"
                       class="mr-2"
                       display="chip"
                       optionLabel="name"
                       [selectionLimit]="4"
                       placeholder="Todas las prioridades"
                       (onChange)="loadTests()"></p-multiSelect>
        <p-multiSelect [options]="states"
                       [(ngModel)]="selectedStates"
                       display="chip"
                       class="mr-2"
                       optionLabel="name"
                       [selectionLimit]="3"
                       placeholder="Todos los estados"
                       (onChange)="loadTests()"></p-multiSelect>
        <div class="p-inputgroup">
          <input pInputText id="search" [formControl]="search" (keypress)="filter($event)">
          <button pButton pRipple type="button" icon="pi pi-search" (click)="filter($event)"
                  [loading]="(loaded$|async)!"></button>
        </div>
      </div>
    </div>
  </p-card>
  <br>
  <!--Table-->
  <p-card>
    <p-paginator [rows]="paginator.per_page!"
                 [totalRecords]="paginator.total!"
                 (onPageChange)="paginate($event)"></p-paginator>
    <p-table
      dataKey="id"
      styleClass="p-datatable-striped"
      [value]="(tests$|async)?.data"
      [columns]="cols"
      [lazy]="true"
      [loading]="(loaded$|async)!"
      [(selection)]="selectedTests"
      [responsive]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="code">Test
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="user.name">Usuario
            <p-sortIcon field="user.name"></p-sortIcon>
          </th>
          <th pSortableColumn="province.name">Provincia
            <p-sortIcon field="province.name"></p-sortIcon>
          </th>
          <th pSortableColumn="assignment.institution.name">Institución
            <p-sortIcon field="assignment.institution.name"></p-sortIcon>
          </th>
          <th pSortableColumn="priority.name">Prioridad
            <p-sortIcon field="priority.name"></p-sortIcon>
          </th>
          <th pSortableColumn="state.name">Estado
            <p-sortIcon field="state.name"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">Fecha
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th style="text-align: center">
            <button pButton pRipple type="button" class="p-button-rounded p-button-info" icon="pi pi-cog"></button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td>
            <p-tableCheckbox *ngIf="rowData['state']?.code==='NOT_ASSIGNED'" [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns">
            <span *ngIf="rowData[col.field]?.id" [ngSwitch]="col.field">
              <span *ngSwitchCase="'user'">
                {{rowData[col.field].username}}
                {{rowData[col.field].name}}
                {{rowData[col.field].lastname}}
              </span>
              <span *ngSwitchCase="'province'">
                {{rowData[col.field].name}}
              </span>
               <span *ngSwitchCase="'assignment'">
                {{rowData[col.field].institution.shortName}}
              </span>
               <span *ngSwitchCase="'priority'">
                <button pButton type="button"
                        class="p-button-rounded"
                        [pTooltip]="
                        rowData[col.field].level===1?'Alta Intensidad':
                        rowData[col.field].level===2?'Media Intensidad':
                        rowData[col.field].level===3?'Baja Intensidad':'Sin Problemas'"
                        [icon]="
                        rowData[col.field].level===1?'pi pi-arrow-up':
                        rowData[col.field].level===2?'pi pi-arrows-h':
                        rowData[col.field].level===3?'pi pi-arrow-down':'pi pi-check'"
                        [ngClass]="{
                        'p-button-danger':rowData[col.field].level===1,
                        'p-button-warning':rowData[col.field].level===2,
                        'p-button-info':rowData[col.field].level===3,
                        'p-button-success':rowData[col.field].level===4
                        }"
                ></button>
              </span>
              <span *ngSwitchCase="'state'">
                {{rowData[col.field].name}}
              </span>
            </span>
            <span *ngIf="!rowData[col.field]?.id" [ngSwitch]="col.field">
              <span *ngSwitchCase="'updatedAt'">{{rowData[col.field]|date}}</span>
              <span *ngSwitchCase="'createdAt'">{{rowData[col.field]|date}}</span>
              <span *ngSwitchDefault>{{rowData[col.field]}}</span>
              <!--              <span *ngSwitchCase="'certificated'">{{rowData[col.field]|certificated}}</span>-->
            </span>
          </td>
          <td style="text-align: center">
            <p-splitButton icon="pi pi-ellipsis-v"
                           (onClick)="selectTest(rowData)"
                           (onDropdownClick)="selectTest(rowData)"
                           [model]="items"></p-splitButton>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        {{messageService.paginatorTotalRegisters(paginator)}}
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            {{messageService.paginatorNoRecordsFound}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
