.panel-toolbar {
  background: #F5F5F5;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px 15px 15px 15px;
}

.panel-second {
  //background: #efa94a;
  //margin-top: 20px;
  //margin-left: 20px;
  //margin-right: 20px;
  border-radius: 15px 15px 15px 15px;
}

.container{
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}
