<p-dialog header="Asignar Institución" [(visible)]="dialogForm" [maximizable]="true" [modal]="true">
  <app-assignment *ngIf="dialogForm" [tests]="selectedTests"></app-assignment>
</p-dialog>

<div class="container">
  <div class="grid">
    <div class="panel-toolbar field xl:col-12 lg:col-12 md:col-12 sm:col-12">
      <div class="grid">
        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12 text-center">
          <h2>Detalles de la Jornada</h2>
          <p>Tamizajes Totales:
            <p-badge [value]="paginator?.total?.toString()!" size="large"></p-badge>
          </p>
          <p>Sin Problemas:
            <p-badge [value]="countPriorities[3]?.testsCount!" size="large" severity="success"></p-badge>
          </p>
          <p>Fecha:
            <b><span *ngIf="!rangeDates[1]">hasta</span> {{rangeDates[0]|date}} <span *ngIf="rangeDates[1]">al</span> {{rangeDates[1]|date}}</b>
          </p>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12 text-center">
          <h2>Acciones requeridas</h2>
          <p>Alta Intensidad:
            <p-badge [value]="countPriorities[0]?.testsCount!" size="large" severity="danger"></p-badge>
          </p>
          <p>Media Intensidad:
            <p-badge [value]="countPriorities[1]?.testsCount!" size="large" severity="warning"></p-badge>
          </p>
          <p>Baja Intensidad:
            <p-badge [value]="countPriorities[2]?.testsCount!" size="large" severity="info"></p-badge>
          </p>
        </div>
      </div>
    </div>
  </div>
  <p-card>
    <p-toolbar styleClass="panel-toolbar">
      <div class="p-toolbar-group-left">
        <div *ngIf="!selectedTests?.length">
          <!--        <p-button label="Alta Intensidad" icon="pi pi-exclamation-circle"-->
          <!--                  styleClass="p-button-lg p-button-danger"></p-button>-->
          <!--        <p-badge value="14" size="large" severity="danger"></p-badge>-->
          <!--        <p-button label="Media Intensidad" icon="pi pi-exclamation-triangle"-->
          <!--                  styleClass="p-button-lg p-button-warning ml-2"></p-button>-->
          <!--        <p-badge value="25" size="large" severity="warning"></p-badge>-->

          <!--        <p-button label="Baja Intensidad" icon="pi pi-thumbs-up"-->
          <!--                  styleClass="p-button-lg p-button-info ml-2"></p-button>-->
          <!--        <p-badge value="18" size="large" severity="info"></p-badge>-->

          <!--        <p-button label="Sin Problemas" icon="pi pi-thumbs-up"-->
          <!--                  styleClass="p-button-lg p-button-success ml-2"></p-button>-->
          <!--        <p-badge value="10" size="large" severity="success"></p-badge>-->
        </div>
        <button pButton pRipple type="button" label="Refrescar Página"
                class="p-button-info mr-2" icon="pi pi-sync"
                (click)="loadTests(paginator.current_page)"
                [loading]="(loaded$|async)!"></button>
        <button *ngIf="selectedTests?.length" pButton pRipple type="button" label="Eliminar seleccionados"
                class="p-button-danger mr-2" icon="pi pi-trash"
                (click)="deleteTests()"></button>
        <button *ngIf="selectedTests?.length" pButton pRipple type="button" label="Asignar Tests"
                class="mr-2"
                icon="pi pi-share-alt"
                (click)="assignmentForms()"></button>
        <app-progress-bar *ngIf="progressBarDelete" [message]="messageService.progressBarDelete"
                          class="ml-2"></app-progress-bar>
      </div>
      <div class="p-toolbar-group-right">
        <p-dropdown id="states" [options]="states" optionLabel="name" class="mr-2"></p-dropdown>
        <p-calendar id="range"
                    [(ngModel)]="rangeDates"
                    class="mr-2"
                    selectionMode="range"
                    [readonlyInput]="true"
                    [showIcon]="true"
                    [showButtonBar]="true"
                    inputId="range"></p-calendar>
        <div class="p-inputgroup">
          <input pInputText id="search" [formControl]="search" (keypress)="filter($event)">
          <button pButton pRipple type="button" icon="pi pi-search" (click)="filter($event)"
                  [loading]="(loaded$|async)!"></button>
        </div>
      </div>
    </p-toolbar>
  </p-card>
  <p-divider></p-divider>
  <p-card>
    <p-paginator [rows]="paginator.per_page!"
                 [totalRecords]="paginator.total!"
                 (onPageChange)="paginate($event)"></p-paginator>
    <p-table *appRolesPermissions="['permission:view-users']"
             dataKey="id"
             [value]="(tests$|async)?.data"
             [columns]="cols"
             styleClass="p-datatable-striped"
             [lazy]="true"
             [loading]="(loaded$|async)!"
             [(selection)]="selectedTests"
             [responsive]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th style="text-align: center">
            <button pButton pRipple type="button" class="p-button-rounded p-button-info" icon="pi pi-cog"></button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns">
            <span *ngIf="rowData[col.field]?.id" [ngSwitch]="col.field">
               <span *ngSwitchCase="'assignment'">
                {{rowData[col.field].institution.shortName}}
              </span>
              <span *ngSwitchCase="'priority'">
                <button pButton type="button"
                        [label]="rowData[col.field].name"
                        [ngClass]="{
                        'p-button-danger':rowData[col.field].level===1,
                        'p-button-warning':rowData[col.field].level===2,
                        'p-button-info':rowData[col.field].level===3,
                        'p-button-success':rowData[col.field].level===4
                        }"
                ></button>
              </span>
              <span *ngSwitchCase="'state'">
                {{rowData[col.field].name}}
              </span>
              <span *ngSwitchCase="'user'">
                {{rowData[col.field].username}}
                {{rowData[col.field].name}}
                {{rowData[col.field].lastname}}
              </span>
            </span>
            <span *ngIf="!rowData[col.field]?.id" [ngSwitch]="col.field">
              <span *ngSwitchCase="'updatedAt'">{{rowData[col.field]|date}}</span>
              <span *ngSwitchCase="'createdAt'">{{rowData[col.field]|date}}</span>
              <span *ngSwitchDefault>{{rowData[col.field]}}</span>
              <!--              <span *ngSwitchCase="'certificated'">{{rowData[col.field]|certificated}}</span>-->
            </span>
          </td>
          <td style="text-align: center">
            <p-splitButton label="Más" styleClass="" icon="pi pi-bars"
                           (onClick)="assignmentForm()"
                           (onDropdownClick)="selectTest(rowData)"
                           [model]="items"></p-splitButton>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        {{messageService.paginatorTotalRegisters(paginator)}}
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            {{messageService.paginatorNoRecordsFound}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
