<!--Results-->
<div *ngIf="results?.length">
  <div *ngFor="let result of results">
    <div class="formgrid grid">
      <div class="field col-10 panel-question">
        <p>
          {{result.question.value}}
        </p>
        <small>
          {{result.registredAt|date:'medium'}}
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field col-6 col-offset-6 panel-answer text-right">
        <p>{{result.answer.value}}</p>
        <small>{{result.registeredAt|date:'medium'}}</small>
      </div>
    </div>
  </div>
</div>

<!--Current Message-->
<form [formGroup]="formChat" (ngSubmit)="onSubmit()" class="p-fluid">
  <div *ngFor="let question of questions">
    <div *ngIf="question.number===actualQuestion">
      <div class="formgrid grid">
        <div class="field col-10 panel-question">
          <p>{{question.value}}</p>
        </div>
      </div>
      <div class="formgrid grid">
        <div *ngFor="let answer of question.answers"
             class="field col-6 col-offset-6">
          <button pButton type="button" [label]="answer.value"
                  [class]="answer.class"
                  [icon]="answer.icon"
                  (click)="reply(question,answer)"></button>
        </div>
      </div>
    </div>
  </div>
</form>

<!--Finished Message-->
<div *ngIf="flagDuel && actualQuestion>1" class="formgrid grid">
  <div class="field col-10 panel-question">
    <p>Gracias por particiar, los resultados serán enviados a su correo electrónico</p>
  </div>
</div>
