<form [formGroup]="formPatient" class="p-fluid">
  <div class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Muchas gracias por tu participación. Ayúdame con los siguientes datos:</p>
    </div>
  </div>
  <!--Username-->
  <div *ngIf="steps>=1" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Ingresa tu documento de identificación</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===1" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="username" pKeyFilter="pint" maxlength="10">
        <button *ngIf="usernameField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1 button-send"
                icon="pi pi-send"
                (click)="saveUsername()"
                [loading]="progressBarAnswer"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>1" class="formgrid grid">
    <div class="field col-5 col-offset-7 panel-answer text-right">
      <p>
        {{usernameField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Lastname-->
  <div *ngIf="steps>=2" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Ingresa tus apellidos completos</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===2" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <!--        <input type="text" pInputText formControlName="lastname" pKeyFilter="alpha">-->
        <input type="text" pInputText formControlName="lastname">
        <button *ngIf="lastnameField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1 button-send"
                icon="pi pi-send"
                (click)="saveLastname()"
                [loading]="progressBarAnswer"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>2" class="formgrid grid">
    <div class="field col-7 col-offset-5 panel-answer text-right">
      <p>
        {{lastnameField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Name-->
  <div *ngIf="steps>=3" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Ingresa tus nombres completos</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===3" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <!--        <input type="text" pInputText formControlName="name" pKeyFilter="alpha">-->
        <input type="text" pInputText formControlName="name">
        <button *ngIf="nameField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1 button-send"
                icon="pi pi-send"
                (click)="saveName()"
                [loading]="progressBarAnswer"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>3" class="formgrid grid">
    <div class="field col-7 col-offset-5 panel-answer text-right">
      <p>
        {{nameField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Phone-->
  <div *ngIf="!younger">
    <div *ngIf="steps>=4" class="formgrid grid">
      <div class="field col-10 panel-question">
        <p>Ingresa un número de teléfono al que podríamos contactarte</p>
      </div>
    </div>
    <!--Input-->
    <div *ngIf="steps===4" class="formgrid grid">
      <div class="field col-12">
        <div class="p-inputgroup">
          <input type="text" pInputText formControlName="phone" pKeyFilter="pint" maxlength="10">
          <button *ngIf="phoneField.valid" type="button" pButton pRipple
                  class="p-button-rounded ml-1 button-send"
                  icon="pi pi-send"
                  (click)="savePhone()"
                  [loading]="progressBarAnswer"></button>
        </div>
      </div>
    </div>
    <!--Result-->
    <div *ngIf="steps>4" class="formgrid grid">
      <div class="field col-5 col-offset-7 panel-answer text-right">
        <p>
          {{phoneField.value}}
          <i class="pi pi-check" style="font-size: 0.5rem"></i>
          <i class="pi pi-check" style="font-size: 0.5rem"></i>
        </p>
      </div>
    </div>
  </div>

  <!--Email-->
  <div *ngIf="!younger">
    <div *ngIf="steps>=5" class="formgrid grid">
      <div class="field col-10 panel-question">
        <p>Ingresa un correo electrónico para poder enviarte una copia de tus respuestas</p>
      </div>
    </div>
    <!--Input-->
    <div *ngIf="steps===5" class="formgrid grid">
      <div class="field col-12">
        <div class="p-inputgroup">
          <input type="text" pInputText formControlName="email" pKeyFilter="email">
          <button *ngIf="emailField.valid" type="button" pButton pRipple
                  class="p-button-rounded ml-1 button-send  "
                  icon="pi pi-send"
                  (click)="saveEmail()"
                  [loading]="progressBarAnswer"></button>
        </div>
      </div>
    </div>
    <!--Result-->
    <div *ngIf="steps>5" class="formgrid grid">
      <div class="field col-10 col-offset-2 panel-answer text-right">
        <p>
          {{emailField.value}}
          <i class="pi pi-check" style="font-size: 0.5rem"></i>
          <i class="pi pi-check" style="font-size: 0.5rem"></i>
        </p>
      </div>
    </div>
  </div>

  <!--Province-->
  <div *ngIf="steps>=6" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Selecciona la provincia en que resides</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===6" class="formgrid grid">
    <div class="field col-10">
      <div *ngFor="let province of provinces">
        <button pButton type="button" [label]="province?.name!" class="p-button-text"
                [loading]="progressBarAnswer"
                (click)="saveProvince(province)"></button>
      </div>
    </div>
    <div class="field col-2">
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>6" class="formgrid grid">
    <div class="field col-10 col-offset-2 panel-answer text-right">
      <p>
        {{provinceField.value.name}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Canton-->
  <div *ngIf="steps>=7" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Selecciona el cantón en que resides</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===7" class="formgrid grid">
    <div class="field col-10">
      <div *ngFor="let canton of cantons">
        <button pButton type="button" [label]="canton?.name!" class="p-button-text"
                [loading]="progressBarAnswer"
                (click)="saveCanton(canton)"></button>
      </div>
    </div>
    <div class="field col-2">
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>7" class="formgrid grid">
    <div class="field col-10 col-offset-2 panel-answer text-right">
      <p>
        {{cantonField.value.name}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Result-->
  <div *ngIf="steps>8" class="formgrid grid">
    <div class="field col-8 col-offset-4 panel-answer text-right">
      <p>
        {{provinceField?.value?.name}} - {{cantonField?.value?.name}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Start Test-->
  <div *ngIf="steps===8" class="formgrid grid">
    <div class="field col-12">
      <button type="button" pButton pRipple
              label="Iniciar Test"
              class="p-button-rounded p-button-help button-send"
              icon="pi pi-send"
              (click)="startTest()"
              [loading]="progressBarAnswer"></button>
    </div>
  </div>
</form>
