<form [formGroup]="formPatient" (ngSubmit)="onSubmit()" class="p-fluid">
  <!--Identification-->
  <div *ngIf="steps>=1" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Dinos tu número de cédula</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===1" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="identification" pKeyFilter="pint">
        <button type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveIdentification()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>1" class="formgrid grid">
    <div class="field col-6 col-offset-6 panel-answer text-right">
      <p>{{identificationField.value}}</p>
    </div>
  </div>

  <!--Name-->
  <div *ngIf="steps>=2" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Dinos tu nombres</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===2" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="name" pKeyFilter="alpha">
        <button type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveName()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>2" class="formgrid grid">
    <div class="field col-6 col-offset-6 panel-answer text-right">
      <p>{{nameField.value}}</p>
    </div>
  </div>

  <!--Lastname-->
  <div *ngIf="steps>=3" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Dinos tus apellidos</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===3" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="lastname" pKeyFilter="alpha">
        <button type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveLastname()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>3" class="formgrid grid">
    <div class="field col-6 col-offset-6 panel-answer text-right">
      <p>{{lastnameField.value}}</p>
    </div>
  </div>

  <!--Email-->
  <div *ngIf="steps>=4" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Dinos tu correo electrónico</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===4" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="email" pKeyFilter="email">
        <button type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveEmail()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>4" class="formgrid grid">
    <div class="field col-6 col-offset-6 panel-answer text-right">
      <p>{{emailField.value}}</p>
    </div>
  </div>

  <!--Phone-->
  <div *ngIf="steps>=5" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Dinos tu número de celular</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===5" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="phone" pKeyFilter="pint">
        <button type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="savePhone()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>5" class="formgrid grid">
    <div class="field col-6 col-offset-6 panel-answer text-right">
      <p>{{phoneField.value}}</p>
    </div>
  </div>

  <!--Address-->
  <div *ngIf="steps>=6" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Dinos tu Provincia y Cantón</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===6" class="formgrid grid">
    <div class="field col-5">
      <p-dropdown id="province" formControlName="province"
                  [options]="provinces"
                  dataKey="id"
                  [filter]="true"
                  filterBy="name"
                  placeholder="Provincia">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="provinceField.value">
            <div>
              {{provinceField.value.name}}
            </div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div>
            {{item.name}}
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="field col-5">
      <p-dropdown id="canton" formControlName="canton"
                  [options]="cantons"
                  dataKey="id"
                  [filter]="true"
                  filterBy="name"
                  placeholder="Cantón">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="cantonField.value">
            <div>
              {{cantonField.value.name}}
            </div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div>
            {{item.name}}
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="field col-1">
      <button pButton type="button"
              class="p-button-rounded"
              icon="pi pi-send"
              (click)="saveAddress()"></button>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>6" class="formgrid grid">
    <div class="field col-6 col-offset-6 panel-answer text-right">
      <p>{{provinceField?.value?.name}} - {{cantonField?.value?.name}}</p>
    </div>
  </div>

  <!--Start Test-->
  <div *ngIf="steps===7" class="formgrid grid">
    <div class="field col-12">
      <button type="button" pButton pRipple
              label="Iniciar Test"
              class="p-button-rounded p-button-help"
              icon="pi pi-send"
              (click)="startTest()"></button>
    </div>
  </div>
</form>
