<div class="container loginForm">
  <p-card>
    <div class="p-fluid">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field text-center">
          <h2>Recuperación de contraseña</h2>
          <img src="assets/images/components/login/logo.png" alt="">
        </div>
        <div class="field">
          <label for="username" appLabel label="Usuario:">
          </label>
          <input pInputText id="username" formControlName="username">
        </div>
        <div class="field">
          <label for="password" appLabel label="Contraseña:"
                 [required]="isRequired(passwordField)"
                 [valid]="passwordField.valid"
                 [touched]="passwordField.touched"
                 [dirty]="passwordField.dirty">
          </label>
          <p-password id="password" formControlName="password" [feedback]="false" [toggleMask]="true"></p-password>

          <small appErrorMessage
                 [errors]="passwordField.errors"
                 [touched]="passwordField.touched"
                 [dirty]="passwordField.dirty">
          </small>
        </div>
        <div class="field">
          <label for="passwordConfirmation" appLabel label="Repita la contraseña:"
                 [required]="isRequired(passwordConfirmationField)"
                 [valid]="passwordConfirmationField.valid"
                 [touched]="passwordConfirmationField.touched"
                 [dirty]="passwordConfirmationField.dirty">
          </label>
          <p-password id="passwordConfirmation" formControlName="passwordConfirmation" [feedback]="false"
                      [toggleMask]="true"></p-password>

          <small appErrorMessage
                 [errors]="passwordConfirmationField.errors"
                 [touched]="passwordConfirmationField.touched"
                 [dirty]="passwordConfirmationField.dirty">
          </small>
        </div>

        <p-divider></p-divider>

        <div class="field">
          <button pButton pRipple label="Continuar" class="p-button-rounded" icon="pi pi-arrow-right"></button>
        </div>

        <div *ngIf="progressBar" class="field">
          <app-progress-bar [message]="messageService.progressBarProcess"></app-progress-bar>
        </div>
      </form>
    </div>
  </p-card>
</div>

