<!--Welcome-->
<div class="formgrid grid">
  <div *ngIf="questionSteps>0" class="field col-10 panel-question">
    <p>
      Muchas gracias por aceptar. A continuación, te voy a realizar algunas preguntas para conocer juntos sobre tu
      estado de ánimo en las últimas dos semanas.
    </p>
  </div>
  <div *ngIf="questionSteps>1" class="field col-10 panel-question">
    <p>
      No hay respuesta correcta o incorrecta, por ello te pido que respondas con toda sinceridad. Recuerda que la
      información que me compartas será confidencial y se guardará de forma segura para proteger tu privacidad e
      integridad. El llenado te tomará máximo 10 minutos.
    </p>
  </div>
  <div *ngIf="questionSteps>2" class="field col-10 panel-question">
    <p>
      El llenado te tomará máximo 10 minutos.
    </p>
  </div>
</div>

<!--Results-->
<div *ngIf="results?.length">
  <div *ngFor="let result of results">
    <div class="formgrid grid">
      <div class="field col-10 panel-question">
        <p>
          <b *ngIf="result.question.type!='duel'">{{result.question.order}}.</b> {{result.question.value}}
        </p>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field col-7 col-offset-5 panel-answer text-right">
        <p>
          {{result.answer.value}}
          <i class="pi pi-check" style="font-size: 0.5rem"></i>
          <i class="pi pi-check" style="font-size: 0.5rem"></i>
        </p>
        <small>{{result.registeredAt|date:'shortTime'}}</small>
      </div>
    </div>
  </div>
</div>

<!--Current Message-->
<form [formGroup]="formChat" (ngSubmit)="onSubmit()" class="p-fluid">
  <div *ngFor="let question of questions">
    <div *ngIf="question.order===actualQuestion && questionSteps>3">
      <div class="formgrid grid">
        <div class="field col-10 panel-question">
          <p><b *ngIf="question.type!='duel'">{{question.order}}.</b> {{question.value}}</p>
        </div>
      </div>
      <div class="formgrid grid">
        <div *ngFor="let answer of question.answers"
             class="field col-8 col-offset-4 panel-answer">
          <button pButton type="button" [label]="answer.value!"
                  [class]="answer.class!"
                  [icon]="answer.icon!"
                  (click)="reply(question,answer)"
                  [loading]="progressBarAnswer"></button>
        </div>
      </div>
    </div>
  </div>
</form>

<!--Finished Message-->
<div *ngIf="actualQuestion>1 && finalMessage!=''" class="formgrid grid">
  <div class="field col-10 panel-question">
    <p>{{finalMessage}}</p>
  </div>
</div>
