<p-dialog header="Usuario" [(visible)]="dialogForm" [maximizable]="true" [modal]="true">
  <app-user-administration-form *ngIf="dialogForm" (dialogForm)="dialogForm=$event"></app-user-administration-form>
</p-dialog>

<div class="container">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <button pButton pRipple type="button" label="Crear usuario"
              class="p-button-success p-button-rounded" icon="pi pi-plus"
              (click)="showForm()"></button>
      <button pButton pRipple type="button" label="Refrescar"
              class="p-button-rounded ml-2" icon="pi pi-refresh"
              (click)="loadUsers(paginator.current_page)"></button>
      <button *ngIf="selectedUsers?.length" pButton pRipple type="button" label="Eliminar seleccionados"
              class="p-button-danger p-button-rounded ml-2" icon="pi pi-trash"
              (click)="deleteUsers()"></button>
      <app-progress-bar *ngIf="progressBarDelete" [message]="messageService.progressBarDelete"
                        class="ml-2"></app-progress-bar>
    </div>
    <div class="p-toolbar-group-right">
      <div class="p-inputgroup">
        <input pInputText id="search" [formControl]="search" (keypress)="filter($event)">
        <button pButton pRipple type="button" icon="pi pi-search" (click)="filter($event)"></button>
      </div>
    </div>
  </p-toolbar>
  <p-card>
    <p-paginator [rows]="paginator.per_page!"
                 [totalRecords]="paginator.total!"
                 (onPageChange)="paginate($event)"></p-paginator>
    <p-table
      dataKey="id"
      styleClass="p-datatable-striped"
      [value]="(users$|async)?.data"
      [columns]="cols"
      [loading]="(loaded$|async)!"
      [(selection)]="selectedUsers"
      [responsive]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="text-center">
            <button pButton pRipple type="button" class="p-button-rounded p-button-secondary" icon="pi pi-cog"></button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns">
            <span *ngIf="rowData[col.field]?.id">
              {{rowData[col.field].name}}
            </span>
            <span *ngIf="!rowData[col.field]?.id" [ngSwitch]="col.field">
              <span *ngSwitchCase="'updatedAt'">{{rowData[col.field]|date}}</span>
              <span *ngSwitchCase="'registeredAt'">{{rowData[col.field]|date}}</span>
              <span *ngSwitchDefault>{{rowData[col.field]}}</span>
              <!--              <span *ngSwitchCase="'certificated'">{{rowData[col.field]|certificated}}</span>-->
            </span>
          </td>
          <td class="text-center">
            <p-splitButton label="Más" styleClass="p-button-secondary" icon="pi pi-user-edit"
                           (onClick)="showForm(rowData)"
                           (onDropdownClick)="selectUser(rowData)"
                           [model]="items"></p-splitButton>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        {{messageService.paginatorTotalRegisters(paginator)}}
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            {{messageService.paginatorNoRecordsFound}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
