<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <img src="assets/images/components/core/common/404.png" alt="">
    </div>
    <div class="col-12">
      <h1 class="text-danger">404 ¡Página no encontrada!</h1>
      <p class="text-secondary">No pudimos encontrar lo que buscabas</p>
    </div>
    <div class="col-12">
      <button pButton pRipple label="Regresar al Login" icon="pi pi-arrow-left" class="p-button-lg"
              [routerLink]="['/authentication/login']"></button>
    </div>
  </div>
</div>
