<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light border-top-3 border-primary"
       style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img src="assets/images/footer/spinner.png" alt="" width="60" height="60">
        Instituto Superior Tecnológico de Turismo y Patrimonio Yavirac
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#footer">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div id="footer" class="collapse navbar-collapse mr-3">
      <ul class="navbar-nav ms-3">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-facebook" style="font-size: 2rem; color: cornflowerblue;"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-youtube" style="font-size: 2rem; color: red;"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-twitter" style="font-size: 2rem; color: cornflowerblue;"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
