<div class="chat">
  <p-card>
    <!--    <p-scrollPanel id="container" [style]="{width: '100%', height: '400px'}" class="p-fluid containerMsg h-100">-->
    <form [formGroup]="formChat" (ngSubmit)="onSubmit()" id="container" class="p-fluid containerMsg h-100">
      <div *ngFor="let question of questions" class="msg">
        <div *ngIf="question.id<=actualQuestion">
          <div class="formgrid grid mt-5">
            <div class="field xl:col-1 lg:col-1 md:col-1 sm:col-12">
              <p-avatar image="assets/images/components/psychology/chat/jorge.jpg"
                        styleClass="mr-2"
                        size="xlarge"
                        shape="circle"></p-avatar>
            </div>
            <p-panel class="field xl:col-11 lg:col-11 md:col-11 sm:col-12">
              <h1>{{question.value}}</h1>
            </p-panel>
          </div>
          <div class="formgrid grid mt-5">
            <div *ngFor="let answer of question.answers"
                 class="field xl:col-3 lg:col-3 md:col-3 sm:col-3 col-offset-2">
              <button pButton type="button" [label]="answer.value"
                      [class]="answer.class + ' p-button-lg'"
                      [icon]="answer.icon"
                      (click)="reply(question,answer)"></button>
            </div>
          </div>
          <div class="field">
            <p-progressBar *ngIf="progressBarAnswer" mode="indeterminate"></p-progressBar>
          </div>
          <p-divider></p-divider>
        </div>
      </div>

      <!--        <p-divider></p-divider>-->
      <!--        <div class="field">-->
      <!--          <div class="p-inputgroup">-->
      <!--            <input type="text" pInputText>-->
      <!--            <button type="button" pButton pRipple icon="pi pi-send" styleClass="p-button-warn"></button>-->
      <!--          </div>-->
      <!--        </div>-->
    </form>
    <!--    </p-scrollPanel>-->
  </p-card>
</div>
