<form [formGroup]="formChat" class="p-fluid">
  <!--Terms and Conditions-->
  <div *ngIf="stepsTemp>0" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Hola, soy tu amigo TEMI. Te voy a realizar algunas preguntas para conocer juntos sobre tu estado de ánimo en
        las últimas dos semanas. La información que me brindes será confidencial y se guardará de forma segura para
        proteger tu privacidad e integridad.
      </p>
    </div>
  </div>
  <div *ngIf="stepsTemp>1" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Para poder continuar, necesitamos contar con tu consentimiento informado. Por favor, da click en el siguiente
        enlace para leer los términos y condiciones de este servicio: . Si estás de acuerdo, selecciona la opción
        "Acepto", caso contrario selecciona la opción "No Acepto"
      </p>
      <a class="p-button-text" href="assets/files/terms_conditions.pdf" target="_blank">
        Descargar términos y condiciones
      </a>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===1 && stepsTemp>2" class="formgrid grid">
    <div class="field col-6 col-offset-6 panel-answer">
      <button pButton type="button" label="Acepto"
              class="p-button-lg p-button-text"
              icon="pi pi-check"
              (click)="saveTermsConditions(true)"
              [loading]="progressBarAnswer"></button>
    </div>
    <div class="field col-6 col-offset-6 panel-answer">
      <button pButton type="button" label="Rechazar"
              class="p-button-lg p-button-help p-button-text"
              icon="pi pi-ban"
              (click)="saveTermsConditions(false)"
              [loading]="progressBarAnswer"></button>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>1" class="formgrid grid">
    <div class="field col-4 col-offset-8 panel-answer text-right">
      <p>
        {{termsConditionField.value|termsConditions}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--No Accept Terms and Conditions-->
  <div *ngIf="termsConditionField.value===false" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>¡Muchas gracias por tu participación! Recuerda que tu bienestar psicológico es prioridad y TEMI, te escucha,
        estará disponible las 24 horas del día y los 7 días de la semana para cuando lo necesites. Sólo debes ingresar a
        www.temi.esquel.org.ec. ¡Hasta pronto!
      </p>
    </div>
  </div>

  <!--Start-->
  <div *ngIf="steps>=2" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Muchas gracias. Empezamos con el registro de tus datos</p>
    </div>
  </div>
  <!--Age-->
  <div *ngIf="steps>=2" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Ingresa tu edad</p>
    </div>
  </div>
  <!--Age Range-->
  <div *ngIf="ageValid" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Tu edad debe estar entre 12 y 18 años
      </p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===2" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="age"
               [min]="12" [max]="18" maxlength="2">
        <button *ngIf="ageField.valid" pButton type="button"
                class="p-button-rounded ml-1 button-send"
                icon="pi pi-send"
                (click)="saveAge()"
                [loading]="progressBarAnswer"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>2" class="formgrid grid">
    <div class="field col-3 col-offset-9 panel-answer text-right">
      <p>
        {{ageField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>
</form>

<!--Agent Registration-->
<app-registration-agent *ngIf="younger"
                        (progressBarAnswerOut)="progressBarAnswerOut.emit($event)"
                        (stepsOut)="steps=$event"
                        (codeVerifiedOut)="codeVerified=$event">

</app-registration-agent>

<!--Patient Registration-->
<app-registration-patient *ngIf="codeVerified=='valid'"
                          [younger]="younger"
                          (progressBarAnswerOut)="progressBarAnswerOut.emit($event)"
                          (activatedTest)="activatedTestOut.emit($event)"
                          (stepsOut)="steps=$event">
</app-registration-patient>
