<form [formGroup]="formAgent" class="p-fluid">
  <!--Identification-->
  <div *ngIf="steps>=1" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Número de cédula de tu Representante Legal</p>
      <app-skeleton *ngIf="progressBarAnswer" [type]="'point'"></app-skeleton>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===1 && !progressBarAnswer" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="number" pInputText formControlName="identification" pKeyFilter="pint">
        <button *ngIf="identificationField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveIdentification()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>1" class="formgrid grid">
    <div class="field col-5 col-offset-7 panel-answer text-right">
      <p>
        {{identificationField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i></p>
    </div>
  </div>

  <!--Name-->
  <div *ngIf="steps>=2" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Nombres de tu Representante Legal</p>
      <app-skeleton *ngIf="progressBarAnswer" [type]="'point'"></app-skeleton>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===2 && !progressBarAnswer" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <!--        <input type="text" pInputText formControlName="name" pKeyFilter="alpha">-->
        <input type="text" pInputText formControlName="name">
        <button *ngIf="nameField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveName()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>2" class="formgrid grid">
    <div class="field col-7 col-offset-5 panel-answer text-right">
      <p>
        {{nameField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--lastname-->
  <div *ngIf="steps>=3" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Apellidos de tu Representante Legal</p>
      <app-skeleton *ngIf="progressBarAnswer" [type]="'point'"></app-skeleton>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===3 && !progressBarAnswer" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <!--        <input type="text" pInputText formControlName="lastname" pKeyFilter="alpha">-->
        <input type="text" pInputText formControlName="lastname">
        <button *ngIf="lastnameField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveLastname()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>3" class="formgrid grid">
    <div class="field col-7 col-offset-5 panel-answer text-right">
      <p>
        {{lastnameField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Phone-->
  <div *ngIf="steps>=4" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Número celular de tu Representante Legal</p>
      <app-skeleton *ngIf="progressBarAnswer" [type]="'point'"></app-skeleton>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===4 && !progressBarAnswer" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="phone" pKeyFilter="pint">
        <button *ngIf="phoneField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="savePhone()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>4" class="formgrid grid">
    <div class="field col-5 col-offset-7 panel-answer text-right">
      <p>
        {{phoneField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Email-->
  <div *ngIf="steps>=5" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Correo electrónico de tu Representante Legal</p>
      <app-skeleton *ngIf="progressBarAnswer" [type]="'point'"></app-skeleton>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===5 && !progressBarAnswer" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="email" pKeyFilter="email">
        <button *ngIf="emailField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveEmail()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>5" class="formgrid grid">
    <div class="field col-10 col-offset-2 panel-answer text-right">
      <p>
        {{emailField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Message send code-->
  <div *ngIf="steps>=6" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Se envió un código al correo electrónico, por favor revise y regrese al chat para continuar</p>
    </div>
  </div>

  <!--Code Invalid-->
  <div *ngIf="verifiedCode.length>0 && verifiedCode==='invalid'" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>
        El código de verificación no es válido
      </p>
    </div>
  </div>

  <!--Input-->
  <div *ngIf="steps===6 && !progressBarAnswer" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="number" pInputText formControlName="code" pKeyFilter="pint" class="mr-1">
        <button *ngIf="codeField.valid"
                type="button" pButton pRipple
                class="p-button-rounded"
                icon="pi pi-send"
                (click)="saveCode()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>6" class="formgrid grid">
    <div class="field col-4 col-offset-8 panel-answer text-right">
      <p>
        {{codeField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>
</form>
