<form [formGroup]="formAgent" class="p-fluid">
  <div *ngIf="steps>=1" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Al ser menor de edad, es importante que pueda contar con el consentimiento de tu representante legal: tu padre,
        madre, o un adulto responsable de ti. Por favor, acércate a ellos para que puedas continuar con el registro</p>
    </div>
  </div>
  <!--Identification-->
  <div *ngIf="steps>=1" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Ingrea el número de cédula de tu representante legal</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===1" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="identification" pKeyFilter="pint" maxlength="10">
        <button *ngIf="identificationField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                [loading]="progressBarAnswer"
                (click)="saveIdentification()"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>1" class="formgrid grid">
    <div class="field col-5 col-offset-7 panel-answer text-right">
      <p>
        {{identificationField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i></p>
    </div>
  </div>

  <!--lastname-->
  <div *ngIf="steps>=2" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Ingresa los apellidos de tu representante legal</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===2" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <!--        <input type="text" pInputText formControlName="lastname" pKeyFilter="alpha">-->
        <input type="text" pInputText formControlName="lastname">
        <button *ngIf="lastnameField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveLastname()"
                [loading]="progressBarAnswer"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>2" class="formgrid grid">
    <div class="field col-7 col-offset-5 panel-answer text-right">
      <p>
        {{lastnameField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Name-->
  <div *ngIf="steps>=3" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Ingresa los nombres de tu representante legal</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===3" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <!--        <input type="text" pInputText formControlName="name" pKeyFilter="alpha">-->
        <input type="text" pInputText formControlName="name">
        <button *ngIf="nameField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveName()"
                [loading]="progressBarAnswer"
        ></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>3" class="formgrid grid">
    <div class="field col-7 col-offset-5 panel-answer text-right">
      <p>
        {{nameField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Phone-->
  <div *ngIf="steps>=4" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Ingresa el número de teléfono de tu representante legal al cual podríamos contactarte</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===4" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="phone" pKeyFilter="pint" maxlength="10">
        <button *ngIf="phoneField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="savePhone()"
                [loading]="progressBarAnswer"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>4" class="formgrid grid">
    <div class="field col-5 col-offset-7 panel-answer text-right">
      <p>
        {{phoneField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Email-->
  <div *ngIf="steps>=5" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Ingresa un correo electrónico de tu representante legal para poder enviarte una copia de tus respuestas</p>
    </div>
  </div>
  <!--Input-->
  <div *ngIf="steps===5" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="email" pKeyFilter="email">
        <button *ngIf="emailField.valid" type="button" pButton pRipple
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveEmail()"
                [loading]="progressBarAnswer"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>5" class="formgrid grid">
    <div class="field col-10 col-offset-2 panel-answer text-right">
      <p>
        {{emailField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>

  <!--Message send code-->
  <div *ngIf="steps>=6" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>Una vez que tu representante nos proporcione su consentimiento, le llegará un código de verificación al correo
        electrónico que registre. Por favor, ingresa el código de verificación para continuar llenando este chat. </p>
    </div>
  </div>

  <!--Code Invalid-->
  <div *ngIf="verifiedCode.length>0 && verifiedCode==='invalid'" class="formgrid grid">
    <div class="field col-10 panel-question">
      <p>
        El código de verificación no es válido
      </p>
    </div>
  </div>

  <!--Input-->
  <div *ngIf="steps===6" class="formgrid grid">
    <div class="field col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText formControlName="code" pKeyFilter="pint" class="mr-1">
        <button *ngIf="codeField.invalid" type="button" pButton pRipple
                label="Reenviar código"
                class="p-button-rounded ml-1"
                icon="pi pi-send"
                (click)="saveEmail()"
                [loading]="progressBarAnswer"></button>
        <button *ngIf="codeField.valid"
                type="button" pButton pRipple
                class="p-button-rounded"
                icon="pi pi-send"
                (click)="saveCode()"
                [loading]="progressBarAnswer"></button>
      </div>
    </div>
  </div>
  <!--Result-->
  <div *ngIf="steps>6" class="formgrid grid">
    <div class="field col-4 col-offset-8 panel-answer text-right">
      <p>
        {{codeField.value}}
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
        <i class="pi pi-check" style="font-size: 0.5rem"></i>
      </p>
    </div>
  </div>
</form>
