<p-toast position="top-center"></p-toast>

<div class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--onSubmit()-->
    <div class="field">
      <button pButton pRipple label="Asignar" class="p-button-rounded"
              icon="pi pi-save"></button>
    </div>
    <!--identificationType & username-->
    <div class="formgrid grid">
      <!--identificationType-->
      <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label for="identificationType" appLabel label="Institución:"
               [required]="isRequired(identificationTypeField)"
               [valid]="identificationTypeField.valid"
               [touched]="identificationTypeField.touched"
               [dirty]="identificationTypeField.dirty">
        </label>
        <p-dropdown id="identificationType"
                    formControlName="identificationType"
                    [options]="identificationTypes"
                    [filter]="true"
                    filterBy="name"
                    placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="identificationTypeField.value">
              <div>{{identificationTypeField.value?.name}}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div>
              <div>{{item.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <small appErrorMessage
               [errors]="identificationTypeField.errors"
               [touched]="identificationTypeField.touched"
               [dirty]="identificationTypeField.dirty">
        </small>
      </div>
    </div>
    <!--tests-->
    <div formArrayName="tests">
      <div *ngFor="let test of testsField.controls; let i = index;" [formGroupName]="i">
        <!--title & removePhone()-->
        <div class="field text-center">
          <!--title-->
          <p>
            {{test.value.code}}
            {{test.value.user.username}}
            {{test.value.user.lastname}}
            {{test.value.user.name}}
          </p>

          <!--removeTest()-->
          <button pButton pRipple type="button"
                  class="p-button-danger p-button-rounded ml-2"
                  iconPos="right"
                  icon="pi pi-trash"
                  (click)="removeTest(i)"></button>
        </div>
        <p-divider *ngIf="i<testsField.length-1"></p-divider>
      </div>
    </div>
    <!--onSubmit()-->
    <div class="field">
      <button pButton pRipple label="Asignar" class="p-button-rounded"
              icon="pi pi-save"></button>
    </div>
  </form>
</div>
