<p-toast position="top-center"></p-toast>

<div class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--onSubmit()-->
<!--    <div class="field">-->
<!--      <button pButton pRipple label="Asignar" class="p-button-rounded"-->
<!--              icon="pi pi-save"></button>-->
<!--    </div>-->
    <!--institution & username-->
    <div class="formgrid grid">
      <!--institution-->
      <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label for="institution" appLabel label="Institución:"
               [required]="isRequired(institutionField)"
               [valid]="institutionField.valid"
               [touched]="institutionField.touched"
               [dirty]="institutionField.dirty">
        </label>
        <p-dropdown id="institution"
                    formControlName="institution"
                    [options]="institutions"
                    [filter]="true"
                    filterBy="name"
                    placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="institutionField.value">
              <div>{{institutionField.value?.shortName}}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div>
              <div>{{item.shortName}}</div>
            </div>

          </ng-template>
        </p-dropdown>
        <small appErrorMessage
               [errors]="institutionField.errors"
               [touched]="institutionField.touched"
               [dirty]="institutionField.dirty">
        </small>
      </div>
    </div>
    <!--tests-->
    <div formArrayName="tests">
      <div *ngFor="let test of testsField.controls; let i = index;" [formGroupName]="i">
        <!--title & removePhone()-->
        <div class="field text-center">
          <!--title-->
          <p>
            {{test.value.code}}
            {{test.value.user.username}}
            {{test.value.user.lastname}}
            {{test.value.user.name}}
          </p>

          <!--removeTest()-->
          <button pButton pRipple type="button"
                  class="p-button-danger p-button-rounded ml-2"
                  iconPos="right"
                  icon="pi pi-trash"
                  (click)="removeTest(i)"></button>
        </div>
        <p-divider *ngIf="i<testsField.length-1"></p-divider>
      </div>
    </div>
    <!--onSubmit()-->
    <div class="field">
      <button pButton pRipple label="Asignar" class="p-button-rounded"
              icon="pi pi-save"></button>
    </div>
  </form>
</div>
