<div class="container-fluid">
  <p-paginator [rows]="paginatorIn.per_page!"
               [totalRecords]="paginatorIn.total!"
               (onPageChange)="paginate($event)"></p-paginator>
  <p-table
    dataKey="id"
    styleClass="p-datatable-striped"
    paginatorPosition="both"
    [value]="records"
    [columns]="cols"
    [loading]="loading"
    selectionMode="single"
    [(selection)]="selectedRecord"
    [responsive]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3rem">Nº</th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th style="text-align: center">
          <button pButton pRipple type="button" class="p-button-rounded p-button-secondary" icon="pi pi-cog"
                  disabled></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td>
<!--          {{rowIndex + 1}}-->
          {{rowData.id}}
        </td>
        <td *ngFor="let col of columns">
               <span *ngIf="rowData[col.field]?.id">
              {{rowData[col.field].name}}
            </span>
          <span *ngIf="!rowData[col.field]?.id" [ngSwitch]="col.field">
              <span *ngSwitchCase="'updatedAt'">{{rowData[col.field]|date}}</span>
              <span *ngSwitchDefault>{{rowData[col.field]}}</span>
            </span>
        </td>
        <td>
          <button pButton pRipple [label]="'Seleccionar'" class="p-button-rounded"
                  (click)="select(rowData)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      {{messageService.paginatorTotalRegisters(paginatorIn)}}
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          {{messageService.paginatorNoRecordsFound}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
